<section id="cover" >
  <div id="cover-texto" >
    <div class ="container">
      <div class="row">
        <div class ="col-sm-12">
          <div class ="col-sm-12">
            <h1 class="display=3">CARNICERIA "LA DIFERENCIA"</h1>  
              <p>Venta de carne de Res - Chivo - Cerdo - Pollo - Lacteos</p>
                 <form>
                   <div class="form-row align-items-center">
                      <div class="col-auto">
                        <label class="sr-only" for="inlineFormInput">Nombre</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nombres">
                      </div>
                      <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Usuario</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-danger mb-2">Consultar</button>
                      </div>
                    </div>
                  </form>
                  <section id="Empresa">
                    <div class ="cotenido-seccion">
                      <div class="container">
                        <h2>Acerca de la Empresa</h2>
                        <p class ="lead">Carnes "La diferencia" una microempresa ha persistido en el mercado por 20 años, ofrece carnes 100% certificada y un servicio al cliente inigualable.</p>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="card-group">
                                <div class="card">
                                  <div class="card-block">
                                    <h4 class="card-tittle">Carne de Res</h4>
                                    <h6 class="card-subtittle">Carnes rojas</h6>
                                  </div>
                                  <img src="Imagenes/carnes_rojas.jpg" class="card-img-top" alt="pulpa de carne de res">
                                  <div class="card-block"></div>
                                  <p class="card-text">La carne roja es rica en proteinas de buena calidad y, sobre todo, es una excelente fuente de hierro que contribuye a prevenir o controlar estados de anemia, aseguran los especialistas en nutricion</p>
                                  <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ver mas</button>
                                </div>

                                <div class="card">
                                    <div class="card-block">
                                      <h4 class="card-tittle">Carne de Cerdo</h4>
                                      <h6 class="card-subtittle">Carnes rojas</h6>
                                    </div>
                                    <img src="Imagenes/Cerdo.jpg" class="card-img-top" alt="Pernil de cerdo">
                                    <div class="card-block"></div>
                                    <p class="card-text">Aporta potasio, fosforo, zinc y vitaminas del complejo B. Ademas,como tiene alto poder saciante, mantiene al aparato digestivo ocupado por largo tiempo.Lo recomendable es comer carnes rojas do o tres veces por semana.</p>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ver mas</button>
                                </div>


                              <div class="card">
                                    <div class="card-block">
                                      <h4 class="card-tittle">Pollo</h4>
                                      <h6 class="card-subtittle">Carnes Blancas</h6>
                                    </div>
                                    <img src="Imagenes/muslos.jpg" class="card-img-top" alt="Muslos de pollo">
                                    <div class="card-block"></div>
                                    <p class="card-text">las carnes blancas ofrecen grandes beneficios. En general disminuyen el colesterol LDL(usualmente llamado "colesterol malo").El Omega3, ademas de colaborar con dicha disminucion sin alterar la cantidad de HDL.</p>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ver mas</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </section>
                  <!--carrusel-->
                  <section id="carrusel">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="Imagenes/Tocino.jpg" class="d-block w-100" alt="Tocino">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Tocino</h5>
                            <p>Tocinos frescas y jugosas.</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="Imagenes/Cerdo.jpg" class="d-block w-100" alt="Carne de cerdo">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Pernil de cerdo</h5>
                            <p>Pernil de cergo fresco y jugoso, listo para un gran asado familiar.</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="Imagenes/carnes_rojas2.jpg" class="d-block w-100" alt="Carne de Res">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Crane de res</h5>
                            <p>Carne de Res, jugosa y fresca, lista para hacer un gran guiso.</p>
                          </div>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiennte</span>
                      </a>
                    </div>

                  </section>

                  <section id="acerca-de">
                    <div class="contenido-seccion">
                      <div class="container">
                        <div class="col-md-6">
                          <div class="texto-acerca-de">
                            <h3>Carniceria "LA DIFERENCIA"</h3>
                            <p class="lead">Visitanos en nuestro local que se encuentra en la Cra 18D N0 30-04. Simon Bolivar o Contactanos por medio de nuestros Tel. 5726751 Cel. 3012515733</p>
                            <h3>Siguenos</h3>
                            <a href="http://facebook.com" class="btn btn-sm btn-danger-outline">Facebook</a>
                            <a href="http://instagram.com" class="btn btn-sm btn-danger-outline">Instagram</a>
                            <a href="http://twitter.com" class="btn btn-sm btn-danger-outline">twitter</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <footer id="footer-main">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-3">
                          <p>Creado En el curso programacion web UPC</p>
                          <p>desarrollado <a href="https://www.unicesar.edu.co/index.php/es/">Estudiantes de Ingenieria de Sistemas</a></p>
                        </div>
                        <div class="col-sm-3">
                          <ul class="list-unstyled">
                            <li><a href="">Home</a></li>
                            <li><a href="">Acerca de</a></li>
                            <li><a href="">Ingenieria de Sistemas</a></li>
                            <li><a href="">Ultimas noticias</a></li>
                          </ul>

                        </div>
                        <div class="col-sm-3">
                          <ul class="list-unstyled">
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">twitter</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-3"></div>
                        <h6>Informacion</h6>

                        <b> Horario de Atencion: </b>
                        <b> 
                          Lunes a Lunes  

                        </b>
                        <b> 6:00 AM - 1:00 PM  Y 5:00PM - 9:00PM </b>
                        <b> Es un placer Atenderle </b>
                      </div>

                    </div>

                  </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
          
</section>






